<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.linkpets.cms.aprilfool.dao.CmsActivityRegistryCustomMapper">

    <select id="getRegistryInfo" resultType="com.linkpets.cms.aprilfool.model.CmsActivityCustomRegistry"
            parameterType="java.lang.String">
        select  cr.registry_id    as registryId,
                cr.registry_type  as registryType,
                cr.is_valid       as isValid,
                cr.create_time    as createTime,
                cr.activity_id    as activityId,
                ca.activity_name  as activityName,
                ca.introduction   as introduction,
                ca.start_time     as startTime,
                ca.end_time       as endTime,
                ca.org_id         as orgId,
                ca.is_active      as isActive,
                so.org_name       as orgName,
                cr.user_id        as userId,
                u.nick_name       as userName,
                u.mobile_phone    as mobilePhone,
                u.photo_path      as photoPath,
                u.union_id        as unionId
        from cms_activity_registry cr
        left join cms_activity ca
        on cr.activity_id = ca.activity_id
        left join sys_org so
        on ca.org_id = so.org_id
        left join user u
        on cr.user_id = u.user_id
        where cr.registry_id = #{registryId,jdbcType=VARCHAR}
        and cr.is_valid = 1
    </select>

    <select id="getRegistryInfoByUserId" resultType="com.linkpets.cms.aprilfool.model.CmsActivityCustomRegistry"
            parameterType="java.lang.String">
        select  cr.registry_id    as registryId,
                cr.registry_type  as registryType,
                cr.is_valid       as isValid,
                cr.create_time    as createTime,
                cr.activity_id    as activityId,
                ca.activity_name  as activityName,
                ca.introduction   as introduction,
                ca.start_time     as startTime,
                ca.end_time       as endTime,
                ca.org_id         as orgId,
                ca.is_active      as isActive,
                so.org_name       as orgName,
                cr.user_id        as userId,
                u.nick_name       as userName,
                u.mobile_phone    as mobilePhone,
                u.photo_path      as photoPath,
                u.union_id        as unionId
        from cms_activity_registry cr
        left join cms_activity ca
        on cr.activity_id = ca.activity_id
        left join sys_org so
        on ca.org_id = so.org_id
        left join user u
        on cr.user_id = u.user_id
        where cr.activity_id = #{activityId,jdbcType=VARCHAR}
        and cr.user_id = #{userId}
        and cr.is_valid = 1
    </select>

    <select id="getRegistryInfoList" resultType="com.linkpets.cms.aprilfool.model.CmsActivityCustomRegistry"
            parameterType="java.lang.String">
        select  cr.registry_id    as registryId,
                cr.registry_type  as registryType,
                cr.is_valid       as isValid,
                cr.create_time    as createTime,
                cr.activity_id    as activityId,
                ca.activity_name  as activityName,
                ca.introduction   as introduction,
                ca.start_time     as startTime,
                ca.end_time       as endTime,
                ca.org_id         as orgId,
                ca.is_active      as isActive,
                so.org_name       as orgName,
                cr.user_id        as userId,
                u.nick_name       as userName,
                u.mobile_phone    as mobilePhone,
                u.photo_path      as photoPath,
                u.union_id        as unionId
        from cms_activity_registry cr
        left join cms_activity ca
        on cr.activity_id = ca.activity_id
        left join sys_org so
        on ca.org_id = so.org_id
        left join user u
        on cr.user_id = u.user_id
        where cr.activity_id = #{activityId,jdbcType=VARCHAR}
    </select>

</mapper>