<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.linkpets.cms.lost.dao.CmsLostPostCustomMapper">
    <select id="getLostPostsList"  resultType="com.linkpets.cms.lost.model.PostsInfo">
        SELECT
        post_id         AS postId,
        content,
        images,
        lp.location,
        detail_location AS detailLocation,
        lat,
        lng,
        u.user_id      AS userId,
        u.portrait      As portrait,
        u.nick_name     As nickName,
        DATE_FORMAT(lp.create_date,'%Y-%m-%d %T')     AS createDate
        FROM cms_lost_post lp
        LEFT JOIN cms_user u
        ON lp.user_id=u.user_id
        WHERE 1=1
        <if test="city != null and city != ''">
            AND city = #{city,jdbcType=VARCHAR}
        </if>
        <if test="dayLimit != -1">
            AND DATEDIFF(CURDATE(),lp.create_date) &lt;= #{dayLimit,jdbcType=INTEGER}
        </if>
        AND lp.is_valid = 1
        ORDER BY lp.create_date  DESC
    </select>

    <select id="getLostPost"  resultType="com.linkpets.cms.lost.model.PostsInfo">
        SELECT
        post_id         AS postId,
        content,
        images,
        lp.location,
        detail_location AS detailLocation,
        lat,
        lng,
        u.user_id      AS userId,
        u.portrait      As portrait,
        u.nick_name     As nickName,
        DATE_FORMAT(lp.create_date,'%Y-%m-%d %T')     AS createDate
        FROM cms_lost_post lp
        LEFT JOIN cms_user u
        ON lp.user_id=u.user_id
        WHERE lp.post_id = #{postId}
        AND lp.is_valid = 1
        ORDER BY lp.create_date  DESC
    </select>
</mapper>