<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linkpets.core.dao.CmsAdoptGroupActivityUserRelMapper">
    <resultMap id="BaseResultMap" type="com.linkpets.core.model.CmsGroupActivityUserRel">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="activity_id" jdbcType="VARCHAR" property="activityId"/>
        <result column="user_id" jdbcType="VARCHAR" property="userId"/>
        <result column="is_valid" jdbcType="INTEGER" property="isValid"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, activity_id, user_id, is_valid, create_date
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from cms_group_activity_user_rel
        where id = #{id,jdbcType=VARCHAR}
    </select>
    <select id="getFollowUserByUserIdAndActivityId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from cms_group_activity_user_rel
        where user_id = #{userId,jdbcType=VARCHAR}
        and activity_id= #{activityId}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from cms_group_activity_user_rel
    where id = #{id,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" parameterType="com.linkpets.core.model.CmsGroupActivityUserRel">
    insert into cms_group_activity_user_rel (id, activity_id, user_id,
      is_valid, create_date)
    values (#{id,jdbcType=VARCHAR}, #{activityId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, 
      #{isValid,jdbcType=INTEGER}, #{createDate,jdbcType=TIMESTAMP})
  </insert>
    <insert id="insertSelective" parameterType="com.linkpets.core.model.CmsGroupActivityUserRel">
        insert into cms_group_activity_user_rel
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="activityId != null">
                activity_id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="isValid != null">
                is_valid,
            </if>
            <if test="createDate != null">
                create_date,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="activityId != null">
                #{activityId,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=VARCHAR},
            </if>
            <if test="isValid != null">
                #{isValid,jdbcType=INTEGER},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.linkpets.core.model.CmsGroupActivityUserRel">
        update cms_group_activity_user_rel
        <set>
            <if test="activityId != null">
                activity_id = #{activityId,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                user_id = #{userId,jdbcType=VARCHAR},
            </if>
            <if test="isValid != null">
                is_valid = #{isValid,jdbcType=INTEGER},
            </if>
            <if test="createDate != null">
                create_date = #{createDate,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.linkpets.core.model.CmsGroupActivityUserRel">
    update cms_group_activity_user_rel
    set activity_id = #{activityId,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=VARCHAR},
      is_valid = #{isValid,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>