<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linkpets.core.dao.CmsAdoptGroupMapper">
    <resultMap id="BaseResultMap" type="com.linkpets.core.model.CmsAdoptGroup">
        <id column="group_id" jdbcType="VARCHAR" property="groupId"/>
        <result column="org_id" jdbcType="VARCHAR" property="orgId"/>
        <result column="group_type" jdbcType="CHAR" property="groupType"/>
        <result column="group_name" jdbcType="VARCHAR" property="groupName"/>
        <result column="group_info" jdbcType="VARCHAR" property="groupInfo"/>
        <result column="group_banner" jdbcType="VARCHAR" property="groupBanner"/>
        <result column="customer_support" jdbcType="VARCHAR" property="customerSupport"/>
        <result column="sort" jdbcType="INTEGER" property="sort"/>
        <result column="is_active" jdbcType="INTEGER" property="isActive"/>
        <result column="is_valid" jdbcType="INTEGER" property="isValid"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
    </resultMap>
    <resultMap id="BaseInfoResultMap" type="com.linkpets.core.respEntity.RespGroupInfo">
        <id column="group_id" jdbcType="VARCHAR" property="groupId"/>
        <result column="org_id" jdbcType="VARCHAR" property="orgId"/>
        <result column="group_type" jdbcType="CHAR" property="groupType"/>
        <result column="group_name" jdbcType="VARCHAR" property="groupName"/>
        <result column="group_info" jdbcType="VARCHAR" property="groupInfo"/>
        <result column="group_banner" jdbcType="VARCHAR" property="groupBanner"/>
        <result column="customer_support" jdbcType="VARCHAR" property="customerSupport"/>
        <result column="sort" jdbcType="INTEGER" property="sort"/>
        <result column="is_active" jdbcType="INTEGER" property="isActive"/>
        <result column="is_valid" jdbcType="INTEGER" property="isValid"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="fansCount" jdbcType="VARCHAR" property="fansCount"/>
        <result column="contentCount" jdbcType="VARCHAR" property="contentCount"/>
    </resultMap>
    <sql id="Base_Column_List">
    group_id, org_id, group_type, group_name, group_info, group_banner, customer_support, 
    sort, is_active, is_valid, create_date
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from cms_adopt_group
        where group_id = #{groupId,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from cms_adopt_group
    where group_id = #{groupId,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" parameterType="com.linkpets.core.model.CmsAdoptGroup">
    insert into cms_adopt_group (group_id, org_id, group_type, 
      group_name, group_info, group_banner, 
      customer_support, sort, is_active, 
      is_valid, create_date)
    values (#{groupId,jdbcType=VARCHAR}, #{orgId,jdbcType=VARCHAR}, #{groupType,jdbcType=CHAR}, 
      #{groupName,jdbcType=VARCHAR}, #{groupInfo,jdbcType=VARCHAR}, #{groupBanner,jdbcType=VARCHAR}, 
      #{customerSupport,jdbcType=VARCHAR}, #{sort,jdbcType=INTEGER}, #{isActive,jdbcType=INTEGER}, 
      #{isValid,jdbcType=INTEGER}, #{createDate,jdbcType=TIMESTAMP})
  </insert>
    <insert id="insertSelective" parameterType="com.linkpets.core.model.CmsAdoptGroup">
        insert into cms_adopt_group
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="groupId != null">
                group_id,
            </if>
            <if test="orgId != null">
                org_id,
            </if>
            <if test="groupType != null">
                group_type,
            </if>
            <if test="groupName != null">
                group_name,
            </if>
            <if test="groupInfo != null">
                group_info,
            </if>
            <if test="groupBanner != null">
                group_banner,
            </if>
            <if test="customerSupport != null">
                customer_support,
            </if>
            <if test="sort != null">
                sort,
            </if>
            <if test="isActive != null">
                is_active,
            </if>
            <if test="isValid != null">
                is_valid,
            </if>
            <if test="createDate != null">
                create_date,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="groupId != null">
                #{groupId,jdbcType=VARCHAR},
            </if>
            <if test="orgId != null">
                #{orgId,jdbcType=VARCHAR},
            </if>
            <if test="groupType != null">
                #{groupType,jdbcType=CHAR},
            </if>
            <if test="groupName != null">
                #{groupName,jdbcType=VARCHAR},
            </if>
            <if test="groupInfo != null">
                #{groupInfo,jdbcType=VARCHAR},
            </if>
            <if test="groupBanner != null">
                #{groupBanner,jdbcType=VARCHAR},
            </if>
            <if test="customerSupport != null">
                #{customerSupport,jdbcType=VARCHAR},
            </if>
            <if test="sort != null">
                #{sort,jdbcType=INTEGER},
            </if>
            <if test="isActive != null">
                #{isActive,jdbcType=INTEGER},
            </if>
            <if test="isValid != null">
                #{isValid,jdbcType=INTEGER},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.linkpets.core.model.CmsAdoptGroup">
        update cms_adopt_group
        <set>
            <if test="orgId != null">
                org_id = #{orgId,jdbcType=VARCHAR},
            </if>
            <if test="groupType != null">
                group_type = #{groupType,jdbcType=CHAR},
            </if>
            <if test="groupName != null">
                group_name = #{groupName,jdbcType=VARCHAR},
            </if>
            <if test="groupInfo != null">
                group_info = #{groupInfo,jdbcType=VARCHAR},
            </if>
            <if test="groupBanner != null">
                group_banner = #{groupBanner,jdbcType=VARCHAR},
            </if>
            <if test="customerSupport != null">
                customer_support = #{customerSupport,jdbcType=VARCHAR},
            </if>
            <if test="sort != null">
                sort = #{sort,jdbcType=INTEGER},
            </if>
            <if test="isActive != null">
                is_active = #{isActive,jdbcType=INTEGER},
            </if>
            <if test="isValid != null">
                is_valid = #{isValid,jdbcType=INTEGER},
            </if>
            <if test="createDate != null">
                create_date = #{createDate,jdbcType=TIMESTAMP},
            </if>
        </set>
        where group_id = #{groupId,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.linkpets.core.model.CmsAdoptGroup">
    update cms_adopt_group
    set org_id = #{orgId,jdbcType=VARCHAR},
      group_type = #{groupType,jdbcType=CHAR},
      group_name = #{groupName,jdbcType=VARCHAR},
      group_info = #{groupInfo,jdbcType=VARCHAR},
      group_banner = #{groupBanner,jdbcType=VARCHAR},
      customer_support = #{customerSupport,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER},
      is_active = #{isActive,jdbcType=INTEGER},
      is_valid = #{isValid,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=TIMESTAMP}
    where group_id = #{groupId,jdbcType=VARCHAR}
  </update>
    <select id="getAdoptGroupList" parameterType="java.lang.String" resultMap="BaseInfoResultMap">
        select
        group_id, group_type, group_name, group_info, group_banner, customer_support, sort,is_active,
        is_valid, create_date,
        (select count(1) from cms_adopt_group_user_rel where group_id = g.group_id and is_valid = 1) as fansCount,
        case group_type
        when '1' then (select count(1) from cms_adopt_group_user_rel where group_id = g.group_id and is_valid = 1)
        else (select count(1) from cms_adopt_group_activity where group_id = g.group_id and is_valid = 1)
        end as contentCount
        from cms_adopt_group g
        where is_valid = 1
        <if test="groupType !=null and groupType !=''">
            and group_type = #{groupType}
        </if>
        <if test="isActive !=null">
            and is_active = #{isActive}
        </if>
        <if test="orderBy !=null and orderBy==0  or orderBy==null ">
            order by sort , create_date desc
        </if>
        <if test="orderBy !=null and orderBy==1">
            order by create_date desc
        </if>
    </select>
    <select id="getActivityGroupList" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"></include>
        from cms_adopt_group g
        where is_valid = 1
        and group_type = '1'
    </select>
    <select id="getFollowedGroupList" resultMap="BaseResultMap">
        select g.group_id,
                org_id,
               group_type,
               group_name,
               group_info,
               group_banner,
               customer_support,
               sort,
               is_active,
               g.is_valid,
               g.create_date
        from cms_adopt_group g,
             cms_adopt_group_user_rel r
        where g.is_valid = 1
          and r.is_valid = 1
          and g.group_id = r.group_id
          and r.user_id = #{userId}
        order by group_type, r.create_date desc
    </select>
    <select id="getAdoptGroup" resultMap="BaseInfoResultMap">
        select
        <include refid="Base_Column_List"/>
        ,
        (select count(1) from cms_adopt_group_user_rel where group_id = g.group_id and is_valid = 1) as fansCount,
        case group_type
        when '1' then (select count(1) from cms_adopt_group_user_rel where group_id = g.group_id and is_valid = 1)
        else (select count(1) from cms_adopt_group_activity where group_id = g.group_id and is_valid = 1)
        end as contentCount
        from cms_adopt_group g
        where is_valid = 1
        <if test="isActive!=null">
            and is_active = #{active}
        </if>
        and group_id =#{groupId}
    </select>
</mapper>