<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linkpets.core.dao.CmsBannerMapper">
    <resultMap id="BaseResultMap" type="com.linkpets.core.model.CmsBanner">
        <id column="banner_id" jdbcType="VARCHAR" property="bannerId"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="position" jdbcType="INTEGER" property="position"/>
        <result column="banner_img_url" jdbcType="VARCHAR" property="bannerImgUrl"/>
        <result column="extra_data" jdbcType="VARCHAR" property="extraData"/>
        <result column="sort" jdbcType="INTEGER" property="sort"/>
        <result column="is_valid" jdbcType="INTEGER" property="isValid"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
    </resultMap>
    <sql id="Base_Column_List">
        banner_id, type, position, banner_img_url, extra_data, sort, is_valid, create_date
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from cms_banner
        where banner_id = #{bannerId,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete
        from cms_banner
        where banner_id = #{bannerId,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="com.linkpets.core.model.CmsBanner">
        insert into cms_banner (banner_id, type, position,
                                banner_img_url, extra_data, sort,
                                is_valid, create_date)
        values (#{bannerId,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, #{position,jdbcType=INTEGER},
                #{bannerImgUrl,jdbcType=VARCHAR}, #{extraData,jdbcType=VARCHAR}, #{sort,jdbcType=INTEGER},
                #{isValid,jdbcType=INTEGER}, #{createDate,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="com.linkpets.core.model.CmsBanner">
        insert into cms_banner
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="bannerId != null">
                banner_id,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="position != null">
                position,
            </if>
            <if test="bannerImgUrl != null">
                banner_img_url,
            </if>
            <if test="extraData != null">
                extra_data,
            </if>
            <if test="sort != null">
                sort,
            </if>
            <if test="isValid != null">
                is_valid,
            </if>
            <if test="createDate != null">
                create_date,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="bannerId != null">
                #{bannerId,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                #{type,jdbcType=INTEGER},
            </if>
            <if test="position != null">
                #{position,jdbcType=INTEGER},
            </if>
            <if test="bannerImgUrl != null">
                #{bannerImgUrl,jdbcType=VARCHAR},
            </if>
            <if test="extraData != null">
                #{extraData,jdbcType=VARCHAR},
            </if>
            <if test="sort != null">
                #{sort,jdbcType=INTEGER},
            </if>
            <if test="isValid != null">
                #{isValid,jdbcType=INTEGER},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.linkpets.core.model.CmsBanner">
        update cms_banner
        <set>
            <if test="type != null">
                type = #{type,jdbcType=INTEGER},
            </if>
            <if test="position != null">
                position = #{position,jdbcType=INTEGER},
            </if>
            <if test="bannerImgUrl != null">
                banner_img_url = #{bannerImgUrl,jdbcType=VARCHAR},
            </if>
            <if test="extraData != null">
                extra_data = #{extraData,jdbcType=VARCHAR},
            </if>
            <if test="sort != null">
                sort = #{sort,jdbcType=INTEGER},
            </if>
            <if test="isValid != null">
                is_valid = #{isValid,jdbcType=INTEGER},
            </if>
            <if test="createDate != null">
                create_date = #{createDate,jdbcType=TIMESTAMP},
            </if>
        </set>
        where banner_id = #{bannerId,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.linkpets.core.model.CmsBanner">
        update cms_banner
        set type           = #{type,jdbcType=INTEGER},
            position       = #{position,jdbcType=INTEGER},
            banner_img_url = #{bannerImgUrl,jdbcType=VARCHAR},
            extra_data     = #{extraData,jdbcType=VARCHAR},
            sort           = #{sort,jdbcType=INTEGER},
            is_valid       = #{isValid,jdbcType=INTEGER},
            create_date    = #{createDate,jdbcType=TIMESTAMP}
        where banner_id = #{bannerId,jdbcType=VARCHAR}
    </update>
    <select id="getBannerList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from cms_banner
        where 1=1
        <if test="type!=null">
            and type = #{type}
        </if>
        <if test="position!=null">
            and position = #{position}
        </if>
        and is_valid = 1
        <if test="type!=null">
            order by sort
        </if>
        <if test="type==null">
            order by create_date desc
        </if>
    </select>
</mapper>