<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linkpets.core.dao.CmsGroupPostImgMapper">
    <resultMap id="BaseResultMap" type="com.linkpets.core.model.CmsGroupPostImg">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="post_id" jdbcType="VARCHAR" property="postId"/>
        <result column="img_url" jdbcType="VARCHAR" property="imgUrl"/>
        <result column="sort" jdbcType="INTEGER" property="sort"/>
        <result column="is_valid" jdbcType="INTEGER" property="isValid"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, post_id, img_url, sort, is_valid, create_date
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from cms_group_post_img
        where id = #{id,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from cms_group_post_img
    where id = #{id,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" parameterType="com.linkpets.core.model.CmsGroupPostImg">
    insert into cms_group_post_img (id, post_id, img_url,
      sort, is_valid, create_date
      )
    values (#{id,jdbcType=VARCHAR}, #{postId,jdbcType=VARCHAR}, #{imgUrl,jdbcType=VARCHAR}, 
      #{sort,jdbcType=INTEGER}, #{isValid,jdbcType=INTEGER}, #{createDate,jdbcType=TIMESTAMP}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.linkpets.core.model.CmsGroupPostImg">
        insert into cms_group_post_img
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="postId != null">
                post_id,
            </if>
            <if test="imgUrl != null">
                img_url,
            </if>
            <if test="sort != null">
                sort,
            </if>
            <if test="isValid != null">
                is_valid,
            </if>
            <if test="createDate != null">
                create_date,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="postId != null">
                #{postId,jdbcType=VARCHAR},
            </if>
            <if test="imgUrl != null">
                #{imgUrl,jdbcType=VARCHAR},
            </if>
            <if test="sort != null">
                #{sort,jdbcType=INTEGER},
            </if>
            <if test="isValid != null">
                #{isValid,jdbcType=INTEGER},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.linkpets.core.model.CmsGroupPostImg">
        update cms_group_post_img
        <set>
            <if test="postId != null">
                post_id = #{postId,jdbcType=VARCHAR},
            </if>
            <if test="imgUrl != null">
                img_url = #{imgUrl,jdbcType=VARCHAR},
            </if>
            <if test="sort != null">
                sort = #{sort,jdbcType=INTEGER},
            </if>
            <if test="isValid != null">
                is_valid = #{isValid,jdbcType=INTEGER},
            </if>
            <if test="createDate != null">
                create_date = #{createDate,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.linkpets.core.model.CmsGroupPostImg">
    update cms_group_post_img
    set post_id = #{postId,jdbcType=VARCHAR},
      img_url = #{imgUrl,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER},
      is_valid = #{isValid,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
    <update id="deleteByPostId" parameterType="java.lang.String">
    update cms_group_post_img
    set is_valid =0
    where post_id = #{postId,jdbcType=VARCHAR}
  </update>
</mapper>