<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linkpets.core.dao.CmsGroupActivityMapper">
    <resultMap id="BaseResultMap" type="com.linkpets.core.model.CmsGroupActivity">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="group_id" jdbcType="VARCHAR" property="groupId"/>
        <result column="activity_type" jdbcType="INTEGER" property="activityType"/>
        <result column="activity_title" jdbcType="VARCHAR" property="activityTitle"/>
        <result column="activity_banner" jdbcType="VARCHAR" property="activityBanner"/>
        <result column="activity_area" jdbcType="VARCHAR" property="activityArea"/>
        <result column="activity_address" jdbcType="VARCHAR" property="activityAddress"/>
        <result column="activity_content" jdbcType="VARCHAR" property="activityContent"/>
        <result column="register_limit" jdbcType="INTEGER" property="registerLimit"/>
        <result column="activity_should_verify" jdbcType="INTEGER" property="activityShouldVerify"/>
        <result column="activity_should_questionnaire" jdbcType="INTEGER" property="activityShouldQuestionnaire"/>
        <result column="questionnaire_id" jdbcType="VARCHAR" property="questionnaireId"/>
        <result column="activity_register_start_time" jdbcType="TIMESTAMP" property="activityRegisterStartTime"/>
        <result column="activity_register_end_time" jdbcType="TIMESTAMP" property="activityRegisterEndTime"/>
        <result column="activity_start_time" jdbcType="TIMESTAMP" property="activityStartTime"/>
        <result column="activity_end_time" jdbcType="TIMESTAMP" property="activityEndTime"/>
        <result column="activity_pick_time" jdbcType="VARCHAR" property="activityPickTime"/>
        <result column="activity_is_free" jdbcType="INTEGER" property="activityIsFree"/>
        <result column="activity_cost" jdbcType="INTEGER" property="activityCost"/>
        <result column="activity_point" jdbcType="INTEGER" property="activityPoint"/>
        <result column="customer_support" jdbcType="VARCHAR" property="customerSupport"/>
        <result column="is_active" jdbcType="INTEGER" property="isActive"/>
        <result column="is_valid" jdbcType="INTEGER" property="isValid"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
    </resultMap>
    <resultMap id="BaseRespResultMap" type="com.linkpets.core.respEntity.RespGroupActivity">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="group_id" jdbcType="VARCHAR" property="groupId"/>
        <result column="activity_type" jdbcType="INTEGER" property="activityType"/>
        <result column="activity_title" jdbcType="VARCHAR" property="activityTitle"/>
        <result column="activity_banner" jdbcType="VARCHAR" property="activityBanner"/>
        <result column="activity_area" jdbcType="VARCHAR" property="activityArea"/>
        <result column="activity_address" jdbcType="VARCHAR" property="activityAddress"/>
        <result column="activity_content" jdbcType="VARCHAR" property="activityContent"/>
        <result column="register_limit" jdbcType="INTEGER" property="registerLimit"/>
        <result column="activity_should_verify" jdbcType="INTEGER" property="activityShouldVerify"/>
        <result column="activity_should_questionnaire" jdbcType="INTEGER" property="activityShouldQuestionnaire"/>
        <result column="questionnaire_id" jdbcType="VARCHAR" property="questionnaireId"/>
        <result column="activity_register_start_time" jdbcType="TIMESTAMP" property="activityRegisterStartTime"/>
        <result column="activity_register_end_time" jdbcType="TIMESTAMP" property="activityRegisterEndTime"/>
        <result column="activity_start_time" jdbcType="TIMESTAMP" property="activityStartTime"/>
        <result column="activity_end_time" jdbcType="TIMESTAMP" property="activityEndTime"/>
        <result column="activity_pick_time" jdbcType="VARCHAR" property="activityPickTime"/>
        <result column="activity_is_free" jdbcType="INTEGER" property="activityIsFree"/>
        <result column="activity_cost" jdbcType="INTEGER" property="activityCost"/>
        <result column="activity_point" jdbcType="INTEGER" property="activityPoint"/>
        <result column="customer_support" jdbcType="VARCHAR" property="customerSupport"/>
        <result column="is_active" jdbcType="INTEGER" property="isActive"/>
        <result column="is_valid" jdbcType="INTEGER" property="isValid"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="hasRegistered" jdbcType="VARCHAR" property="hasRegistered"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, group_id, activity_type, activity_title, activity_banner, activity_area, activity_address,
    activity_content, register_limit, activity_should_verify, activity_should_questionnaire, 
    questionnaire_id, activity_register_start_time, activity_register_end_time, activity_start_time, 
    activity_end_time, activity_pick_time, activity_is_free, activity_cost, activity_point, 
    customer_support, is_active, is_valid, create_date
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from cms_group_activity
        where id = #{id,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete
        from cms_group_activity
        where id = #{id,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="com.linkpets.core.model.CmsGroupActivity">
        insert into cms_group_activity (id, group_id, activity_type,
                                        activity_title, activity_banner, activity_area,
                                        activity_address, activity_content, register_limit,
                                        activity_should_verify, activity_should_questionnaire,
                                        questionnaire_id, activity_register_start_time,
                                        activity_register_end_time, activity_start_time,
                                        activity_end_time, activity_pick_time, activity_is_free,
                                        activity_cost, activity_point, customer_support,
                                        is_active, is_valid, create_date)
        values (#{id,jdbcType=VARCHAR}, #{groupId,jdbcType=VARCHAR}, #{activityType,jdbcType=CHAR},
                #{activityTitle,jdbcType=VARCHAR}, #{activityBanner,jdbcType=VARCHAR}, #{activityArea,jdbcType=VARCHAR},
                #{activityAddress,jdbcType=VARCHAR}, #{activityContent,jdbcType=VARCHAR},
                #{registerLimit,jdbcType=INTEGER},
                #{activityShouldVerify,jdbcType=CHAR}, #{activityShouldQuestionnaire,jdbcType=VARCHAR},
                #{questionnaireId,jdbcType=VARCHAR}, #{activityRegisterStartTime,jdbcType=TIMESTAMP},
                #{activityRegisterEndTime,jdbcType=TIMESTAMP}, #{activityStartTime,jdbcType=TIMESTAMP},
                #{activityEndTime,jdbcType=TIMESTAMP}, #{activityPickTime,jdbcType=VARCHAR},
                #{activityIsFree,jdbcType=INTEGER},
                #{activityCost,jdbcType=INTEGER}, #{activityPoint,jdbcType=INTEGER},
                #{customerSupport,jdbcType=VARCHAR},
                #{isActive,jdbcType=INTEGER}, #{isValid,jdbcType=INTEGER}, #{createDate,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="com.linkpets.core.model.CmsGroupActivity">
        insert into cms_group_activity
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="groupId != null">
                group_id,
            </if>
            <if test="activityType != null">
                activity_type,
            </if>
            <if test="activityTitle != null">
                activity_title,
            </if>
            <if test="activityBanner != null">
                activity_banner,
            </if>
            <if test="activityArea != null">
                activity_area,
            </if>
            <if test="activityAddress != null">
                activity_address,
            </if>
            <if test="activityContent != null">
                activity_content,
            </if>
            <if test="registerLimit != null">
                register_limit,
            </if>
            <if test="activityShouldVerify != null">
                activity_should_verify,
            </if>
            <if test="activityShouldQuestionnaire != null">
                activity_should_questionnaire,
            </if>
            <if test="questionnaireId != null">
                questionnaire_id,
            </if>
            <if test="activityRegisterStartTime != null">
                activity_register_start_time,
            </if>
            <if test="activityRegisterEndTime != null">
                activity_register_end_time,
            </if>
            <if test="activityStartTime != null">
                activity_start_time,
            </if>
            <if test="activityEndTime != null">
                activity_end_time,
            </if>
            <if test="activityPickTime != null">
                activity_pick_time,
            </if>
            <if test="activityIsFree != null">
                activity_is_free,
            </if>
            <if test="activityCost != null">
                activity_cost,
            </if>
            <if test="activityPoint != null">
                activity_point,
            </if>
            <if test="customerSupport != null">
                customer_support,
            </if>
            <if test="isActive != null">
                is_active,
            </if>
            <if test="isValid != null">
                is_valid,
            </if>
            <if test="createDate != null">
                create_date,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="groupId != null">
                #{groupId,jdbcType=VARCHAR},
            </if>
            <if test="activityType != null">
                #{activityType,jdbcType=CHAR},
            </if>
            <if test="activityTitle != null">
                #{activityTitle,jdbcType=VARCHAR},
            </if>
            <if test="activityBanner != null">
                #{activityBanner,jdbcType=VARCHAR},
            </if>
            <if test="activityArea != null">
                #{activityArea,jdbcType=VARCHAR},
            </if>
            <if test="activityAddress != null">
                #{activityAddress,jdbcType=VARCHAR},
            </if>
            <if test="activityContent != null">
                #{activityContent,jdbcType=VARCHAR},
            </if>
            <if test="registerLimit != null">
                #{registerLimit,jdbcType=INTEGER},
            </if>
            <if test="activityShouldVerify != null">
                #{activityShouldVerify,jdbcType=CHAR},
            </if>
            <if test="activityShouldQuestionnaire != null">
                #{activityShouldQuestionnaire,jdbcType=VARCHAR},
            </if>
            <if test="questionnaireId != null">
                #{questionnaireId,jdbcType=VARCHAR},
            </if>
            <if test="activityRegisterStartTime != null">
                #{activityRegisterStartTime,jdbcType=TIMESTAMP},
            </if>
            <if test="activityRegisterEndTime != null">
                #{activityRegisterEndTime,jdbcType=TIMESTAMP},
            </if>
            <if test="activityStartTime != null">
                #{activityStartTime,jdbcType=TIMESTAMP},
            </if>
            <if test="activityEndTime != null">
                #{activityEndTime,jdbcType=TIMESTAMP},
            </if>
            <if test="activityPickTime != null">
                #{activityPickTime,jdbcType=VARCHAR},
            </if>
            <if test="activityIsFree != null">
                #{activityIsFree,jdbcType=INTEGER},
            </if>
            <if test="activityCost != null">
                #{activityCost,jdbcType=INTEGER},
            </if>
            <if test="activityPoint != null">
                #{activityPoint,jdbcType=INTEGER},
            </if>
            <if test="customerSupport != null">
                #{customerSupport,jdbcType=VARCHAR},
            </if>
            <if test="isActive != null">
                #{isActive,jdbcType=INTEGER},
            </if>
            <if test="isValid != null">
                #{isValid,jdbcType=INTEGER},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.linkpets.core.model.CmsGroupActivity">
        update cms_group_activity
        <set>
            <if test="groupId != null">
                group_id = #{groupId,jdbcType=VARCHAR},
            </if>
            <if test="activityType != null">
                activity_type = #{activityType,jdbcType=CHAR},
            </if>
            <if test="activityTitle != null">
                activity_title = #{activityTitle,jdbcType=VARCHAR},
            </if>
            <if test="activityBanner != null">
                activity_banner = #{activityBanner,jdbcType=VARCHAR},
            </if>
            <if test="activityArea != null">
                activity_area = #{activityArea,jdbcType=VARCHAR},
            </if>
            <if test="activityAddress != null">
                activity_address = #{activityAddress,jdbcType=VARCHAR},
            </if>
            <if test="activityContent != null">
                activity_content = #{activityContent,jdbcType=VARCHAR},
            </if>
            <if test="registerLimit != null">
                register_limit = #{registerLimit,jdbcType=INTEGER},
            </if>
            <if test="activityShouldVerify != null">
                activity_should_verify = #{activityShouldVerify,jdbcType=CHAR},
            </if>
            <if test="activityShouldQuestionnaire != null">
                activity_should_questionnaire = #{activityShouldQuestionnaire,jdbcType=VARCHAR},
            </if>
            <if test="questionnaireId != null">
                questionnaire_id = #{questionnaireId,jdbcType=VARCHAR},
            </if>
            <if test="activityRegisterStartTime != null">
                activity_register_start_time = #{activityRegisterStartTime,jdbcType=TIMESTAMP},
            </if>
            <if test="activityRegisterEndTime != null">
                activity_register_end_time = #{activityRegisterEndTime,jdbcType=TIMESTAMP},
            </if>
            <if test="activityStartTime != null">
                activity_start_time = #{activityStartTime,jdbcType=TIMESTAMP},
            </if>
            <if test="activityEndTime != null">
                activity_end_time = #{activityEndTime,jdbcType=TIMESTAMP},
            </if>
            <if test="activityPickTime != null">
                activity_pick_time = #{activityPickTime,jdbcType=VARCHAR},
            </if>
            <if test="activityIsFree != null">
                activity_is_free = #{activityIsFree,jdbcType=INTEGER},
            </if>
            <if test="activityCost != null">
                activity_cost = #{activityCost,jdbcType=INTEGER},
            </if>
            <if test="activityPoint != null">
                activity_point = #{activityPoint,jdbcType=INTEGER},
            </if>
            <if test="customerSupport != null">
                customer_support = #{customerSupport,jdbcType=VARCHAR},
            </if>
            <if test="isActive != null">
                is_active = #{isActive,jdbcType=INTEGER},
            </if>
            <if test="isValid != null">
                is_valid = #{isValid,jdbcType=INTEGER},
            </if>
            <if test="createDate != null">
                create_date = #{createDate,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.linkpets.core.model.CmsGroupActivity">
        update cms_group_activity
        set group_id                      = #{groupId,jdbcType=VARCHAR},
            activity_type                 = #{activityType,jdbcType=CHAR},
            activity_title                = #{activityTitle,jdbcType=VARCHAR},
            activity_banner               = #{activityBanner,jdbcType=VARCHAR},
            activity_area                 = #{activityArea,jdbcType=VARCHAR},
            activity_address              = #{activityAddress,jdbcType=VARCHAR},
            activity_content              = #{activityContent,jdbcType=VARCHAR},
            register_limit                = #{registerLimit,jdbcType=INTEGER},
            activity_should_verify        = #{activityShouldVerify,jdbcType=CHAR},
            activity_should_questionnaire = #{activityShouldQuestionnaire,jdbcType=VARCHAR},
            questionnaire_id              = #{questionnaireId,jdbcType=VARCHAR},
            activity_register_start_time  = #{activityRegisterStartTime,jdbcType=TIMESTAMP},
            activity_register_end_time    = #{activityRegisterEndTime,jdbcType=TIMESTAMP},
            activity_start_time           = #{activityStartTime,jdbcType=TIMESTAMP},
            activity_end_time             = #{activityEndTime,jdbcType=TIMESTAMP},
            activity_pick_time            = #{activityPickTime,jdbcType=VARCHAR},
            activity_is_free              = #{activityIsFree,jdbcType=INTEGER},
            activity_cost                 = #{activityCost,jdbcType=INTEGER},
            activity_point                = #{activityPoint,jdbcType=INTEGER},
            customer_support              = #{customerSupport,jdbcType=VARCHAR},
            is_active                     = #{isActive,jdbcType=INTEGER},
            is_valid                      = #{isValid,jdbcType=INTEGER},
            create_date                   = #{createDate,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="delGroupActivity">
        update cms_group_activity
        set is_valid= 0
        where id = #{activityId}
    </update>
    <select id="getGroupActivityList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from cms_group_activity
        where 1=1
        <if test="activityType!=null">
            and activity_type = #{activityType}
        </if>
        <if test="isActive!=null">
            and is_active=#{isActive}
        </if>
        and is_valid = 1
        order by activity_start_time desc
    </select>
    <select id="getGroupActivityListByUserId" resultMap="BaseRespResultMap">
        select a.id,
               a.group_id,
               a.activity_type,
               a.activity_title,
               a.activity_banner,
               a.activity_area,
               a.activity_address,
               a.activity_start_time,
               a.activity_end_time,
               a.is_active,
               a.is_valid,
               a.create_date,
               (select count(1)
                from cms_group_activity_register ar
                where ar.user_id = r.user_id
                  and ar.activity_id = a.id
                  and ar.is_valid = 1) as hasRegistered
        from cms_group_activity_user_rel r,
             cms_group_activity a
        where r.activity_id = a.id
          and r.is_valid = 1
          and r.user_id = #{userId}
          and a.is_valid = 1
          and a.is_active = 1
        order by a.activity_start_time
    </select>
    <select id="getGroupActivityInfoWithUserId" resultMap="BaseRespResultMap">
        select id,
               group_id,
               activity_type,
               activity_title,
               activity_banner,
               activity_area,
               activity_address,
               activity_content,
               register_limit,
               activity_should_verify,
               activity_should_questionnaire,
               questionnaire_id,
               activity_register_start_time,
               activity_register_end_time,
               activity_start_time,
               activity_end_time,
               activity_pick_time,
               activity_is_free,
               activity_cost,
               activity_point,
               customer_support,
               is_active,
               is_valid,
               create_date,
               (select count(1)
                from cms_group_activity_register ar
                where ar.user_id = #{userId}
                  and ar.activity_id = a.id
                  and ar.is_valid = 1) as hasRegistered,
               (select count(1)
                from cms_group_activity_user_rel r
                where r.user_id = #{userId}
                  and r.activity_id = a.id
                  and r.is_valid = 1)  as hasFollowed
        from cms_group_activity a
        where a.id = #{activityId}
          and a.is_valid = 1
    </select>
    <select id="getGroupActivityListWithTimeRange" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from cms_group_activity
        where is_active= 1
        and is_valid = 1
        and activity_start_time between #{rangeStartDate} and #{rangeEndDate}
        order by activity_start_time desc
    </select>
</mapper>