<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linkpets.core.dao.CmsQuestionnaireAnswerMapper">
    <resultMap id="BaseResultMap" type="com.linkpets.core.model.CmsQuestionnaireAnswer">
        <id column="answer_id" jdbcType="VARCHAR" property="answerId"/>
        <result column="questionnaire_id" jdbcType="VARCHAR" property="questionnaireId"/>
        <result column="activity_id" jdbcType="VARCHAR" property="activityId"/>
        <result column="user_id" jdbcType="VARCHAR" property="userId"/>
        <result column="answer_detail" jdbcType="VARCHAR" property="answerDetail"/>
        <result column="is_pass" jdbcType="INTEGER" property="isPass"/>
        <result column="is_valid" jdbcType="INTEGER" property="isValid"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
    </resultMap>
    <resultMap id="BaseInfoResultMap" type="com.linkpets.core.respEntity.RespQuestionnaireAnswerInfo">
        <id column="answer_id" jdbcType="VARCHAR" property="answerId"/>
        <result column="questionnaire_id" jdbcType="VARCHAR" property="questionnaireId"/>
        <result column="activity_id" jdbcType="VARCHAR" property="activityId"/>
        <result column="user_id" jdbcType="VARCHAR" property="userId"/>
        <result column="answer_detail" jdbcType="VARCHAR" property="answerDetail"/>
        <result column="is_pass" jdbcType="INTEGER" property="isPass"/>
        <result column="is_valid" jdbcType="INTEGER" property="isValid"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="nick_name" jdbcType="VARCHAR" property="nickName"/>
        <result column="mobile_phone" jdbcType="VARCHAR" property="mobilePhone"/>
        <result column="portrait" jdbcType="VARCHAR" property="portrait"/>
    </resultMap>
    <sql id="Base_Column_List">
        answer_id, questionnaire_id, activity_id, user_id, answer_detail, is_pass, is_valid,create_date
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from cms_questionnaire_answer
        where answer_id = #{answerId,jdbcType=VARCHAR}
    </select>
    <select id="getQuestionnaireAnswerList" resultMap="BaseInfoResultMap">
        select answer_id,
               questionnaire_id,
               activity_id,
               a.user_id,
               answer_detail,
               is_pass,
               a.is_valid,
               a.create_date,
               u.nick_name,
               u.mobile_phone,
               u.portrait
        from cms_questionnaire_answer a,
             cms_user u
        where a.user_id = u.user_id
          and a.is_valid = 1
          and a.questionnaire_id = #{questionnireId}
          and a.activity_id = #{activityId}
    </select>
    <select id="getQuestionnaireAnswerInfo" resultMap="BaseInfoResultMap">
        select answer_id,
               questionnaire_id,
               activity_id,
               a.user_id,
               answer_detail,
               is_pass,
               a.is_valid,
               a.create_date,
               u.nick_name,
               u.mobile_phone,
               u.portrait
        from cms_questionnaire_answer a,
             cms_user u
        where a.user_id = u.user_id
          and a.is_valid = 1
          and a.answer_id = #{answerId}
    </select>
    <select id="getQuestionnaireAnswerInfoByUserIdAndActivityId" resultMap="BaseInfoResultMap">
        select answer_id,
               questionnaire_id,
               activity_id,
               a.user_id,
               answer_detail,
               is_pass,
               a.is_valid,
               a.create_date,
               u.nick_name,
               u.mobile_phone,
               u.portrait
        from cms_questionnaire_answer a,
             cms_user u
        where a.user_id = u.user_id
          and a.is_valid = 1
          and a.user_id = #{userId}
          and a.activity_id = #{activityId}
    </select>
    <select id="getQuestionnaireAnswerListByParams" resultMap="BaseInfoResultMap">
        select answer_id,
        questionnaire_id,
        activity_id,
        a.user_id,
        answer_detail,
        is_pass,
        a.is_valid,
        a.create_date,
        u.nick_name,
        u.mobile_phone,
        u.portrait
        from cms_questionnaire_answer a,
        cms_user u
        where a.user_id = u.user_id
        and a.is_valid = 1
        <if test="questionnireId!=null and questionnireId!=''">
            and a.questionnaire_id = #{questionnireId}
        </if>
        <if test="activityId!=null and activityId!=''">
            and a.activity_id = #{activityId}
        </if>
        <if test="userId!=null and userId!=''">
            and a.user_id = #{userId}
        </if>
    </select>
    <select id="getQuestionnaireAnswerListByUserId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from cms_questionnaire_answer
        where questionnaire_id = #{questionnaireId,jdbcType=VARCHAR}
        and activity_id = #{activityId}
        and user_id = #{userId}
        and is_valid = 1
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete
        from cms_questionnaire_answer
        where answer_id = #{answerId,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="com.linkpets.core.model.CmsQuestionnaireAnswer">
        insert into cms_questionnaire_answer (answer_id, questionnaire_id, activity_id,
                                                    user_id, answer_detail, is_pass,
                                                    is_valid, create_date)
        values (#{answerId,jdbcType=VARCHAR}, #{questionnaireId,jdbcType=VARCHAR}, #{activityId,jdbcType=VARCHAR},
                #{userId,jdbcType=VARCHAR}, #{answerDetail,jdbcType=VARCHAR}, #{isPass,jdbcType=INTEGER},
                #{isValid,jdbcType=INTEGER}, #{createDate,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="com.linkpets.core.model.CmsQuestionnaireAnswer">
        insert into cms_questionnaire_answer
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="answerId != null">
                answer_id,
            </if>
            <if test="questionnaireId != null">
                questionnaire_id,
            </if>
            <if test="activityId != null">
                activity_id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="answerDetail != null">
                answer_detail,
            </if>
            <if test="isPass != null">
                is_pass,
            </if>
            <if test="isValid != null">
                is_valid,
            </if>
            <if test="createDate != null">
                create_date,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="answerId != null">
                #{answerId,jdbcType=VARCHAR},
            </if>
            <if test="questionnaireId != null">
                #{questionnaireId,jdbcType=VARCHAR},
            </if>
            <if test="activityId != null">
                #{activityId,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=VARCHAR},
            </if>
            <if test="answerDetail != null">
                #{answerDetail,jdbcType=VARCHAR},
            </if>
            <if test="isPass != null">
                #{isPass,jdbcType=INTEGER},
            </if>
            <if test="isValid != null">
                #{isValid,jdbcType=INTEGER},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.linkpets.core.model.CmsQuestionnaireAnswer">
        update cms_questionnaire_answer
        <set>
            <if test="questionnaireId != null">
                questionnaire_id = #{questionnaireId,jdbcType=VARCHAR},
            </if>
            <if test="activityId != null">
                activity_id = #{activityId,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                user_id = #{userId,jdbcType=VARCHAR},
            </if>
            <if test="answerDetail != null">
                answer_detail = #{answerDetail,jdbcType=VARCHAR},
            </if>
            <if test="isPass != null">
                is_pass = #{isPass,jdbcType=INTEGER},
            </if>
            <if test="isValid != null">
                is_valid = #{isValid,jdbcType=INTEGER},
            </if>
            <if test="createDate != null">
                create_date = #{createDate,jdbcType=TIMESTAMP},
            </if>
        </set>
        where answer_id = #{answerId,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.linkpets.core.model.CmsQuestionnaireAnswer">
        update cms_questionnaire_answer
        set questionnaire_id = #{questionnaireId,jdbcType=VARCHAR},
            activity_id      = #{activityId,jdbcType=VARCHAR},
            user_id          = #{userId,jdbcType=VARCHAR},
            answer_detail    = #{answerDetail,jdbcType=VARCHAR},
            is_pass          = #{isPass,jdbcType=INTEGER},
            is_valid         = #{isValid,jdbcType=INTEGER},
            create_date      = #{createDate,jdbcType=TIMESTAMP}
        where answer_id = #{answerId,jdbcType=VARCHAR}
    </update>
</mapper>