<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linkpets.core.dao.CmsUserMapper">
    <resultMap id="BaseResultMap" type="com.linkpets.core.model.CmsUser">
        <id column="user_id" jdbcType="VARCHAR" property="userId"/>
        <result column="nick_name" jdbcType="VARCHAR" property="nickName"/>
        <result column="mobile_phone" jdbcType="VARCHAR" property="mobilePhone"/>
        <result column="wx_account" jdbcType="VARCHAR" property="wxAccount"/>
        <result column="portrait" jdbcType="VARCHAR" property="portrait"/>
        <result column="union_id" jdbcType="VARCHAR" property="unionId"/>
        <result column="openid" jdbcType="VARCHAR" property="openid"/>
        <result column="birthday" jdbcType="DATE" property="birthday"/>
        <result column="gender" jdbcType="VARCHAR" property="gender"/>
        <result column="location" jdbcType="VARCHAR" property="location"/>
        <result column="intro" jdbcType="VARCHAR" property="intro"/>
        <result column="authenticated" jdbcType="INTEGER" property="authenticated"/>
        <result column="is_valid" jdbcType="INTEGER" property="isValid"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
    </resultMap>
    <resultMap id="BaseOrgUserResultMap" type="com.linkpets.core.respEntity.RespOrgUser">
        <result column="id" jdbcType="VARCHAR" property="id"/>
        <result column="userId" jdbcType="VARCHAR" property="userId"/>
        <result column="sysUserId" jdbcType="VARCHAR" property="sysUserId"/>
        <result column="wxAccount" jdbcType="VARCHAR" property="wxAccount"/>
        <result column="nick_name" jdbcType="VARCHAR" property="nickName"/>
        <result column="mobilePhone" jdbcType="VARCHAR" property="mobilePhone"/>
        <result column="isAdd" jdbcType="INTEGER" property="isAdd"/>
        <collection property="sysRoleList" column="" select="getOrgUserRoleList"/>
    </resultMap>


    <sql id="Base_Column_List">
        user_id, nick_name, mobile_phone, wx_account, portrait, union_id, openid, birthday,
    gender, location, intro, authenticated, is_valid, create_date
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from cms_user
        where user_id = #{userId,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete
        from cms_user
        where user_id = #{userId,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="com.linkpets.core.model.CmsUser">
        insert into cms_user (user_id, nick_name, mobile_phone,
                              wx_account, portrait, union_id,
                              openid, birthday, gender,
                              location, intro, authenticated,
                              is_valid, create_date)
        values (#{userId,jdbcType=VARCHAR}, #{nickName,jdbcType=VARCHAR}, #{mobilePhone,jdbcType=VARCHAR},
                #{wxAccount,jdbcType=VARCHAR}, #{portrait,jdbcType=VARCHAR}, #{unionId,jdbcType=VARCHAR},
                #{openid,jdbcType=VARCHAR}, #{birthday,jdbcType=DATE}, #{gender,jdbcType=VARCHAR},
                #{location,jdbcType=VARCHAR}, #{intro,jdbcType=VARCHAR}, #{authenticated,jdbcType=INTEGER},
                #{isValid,jdbcType=INTEGER}, #{createDate,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="com.linkpets.core.model.CmsUser">
        insert into cms_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                user_id,
            </if>
            <if test="nickName != null">
                nick_name,
            </if>
            <if test="mobilePhone != null">
                mobile_phone,
            </if>
            <if test="wxAccount != null">
                wx_account,
            </if>
            <if test="portrait != null">
                portrait,
            </if>
            <if test="unionId != null">
                union_id,
            </if>
            <if test="openid != null">
                openid,
            </if>
            <if test="birthday != null">
                birthday,
            </if>
            <if test="gender != null">
                gender,
            </if>
            <if test="location != null">
                location,
            </if>
            <if test="intro != null">
                intro,
            </if>
            <if test="authenticated != null">
                authenticated,
            </if>
            <if test="isValid != null">
                is_valid,
            </if>
            <if test="createDate != null">
                create_date,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId,jdbcType=VARCHAR},
            </if>
            <if test="nickName != null">
                #{nickName,jdbcType=VARCHAR},
            </if>
            <if test="mobilePhone != null">
                #{mobilePhone,jdbcType=VARCHAR},
            </if>
            <if test="wxAccount != null">
                #{wxAccount,jdbcType=VARCHAR},
            </if>
            <if test="portrait != null">
                #{portrait,jdbcType=VARCHAR},
            </if>
            <if test="unionId != null">
                #{unionId,jdbcType=VARCHAR},
            </if>
            <if test="openid != null">
                #{openid,jdbcType=VARCHAR},
            </if>
            <if test="birthday != null">
                #{birthday,jdbcType=DATE},
            </if>
            <if test="gender != null">
                #{gender,jdbcType=VARCHAR},
            </if>
            <if test="location != null">
                #{location,jdbcType=VARCHAR},
            </if>
            <if test="intro != null">
                #{intro,jdbcType=VARCHAR},
            </if>
            <if test="authenticated != null">
                #{authenticated,jdbcType=INTEGER},
            </if>
            <if test="isValid != null">
                #{isValid,jdbcType=INTEGER},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.linkpets.core.model.CmsUser">
        update cms_user
        <set>
            <if test="nickName != null">
                nick_name = #{nickName,jdbcType=VARCHAR},
            </if>
            <if test="mobilePhone != null">
                mobile_phone = #{mobilePhone,jdbcType=VARCHAR},
            </if>
            <if test="wxAccount != null">
                wx_account = #{wxAccount,jdbcType=VARCHAR},
            </if>
            <if test="portrait != null">
                portrait = #{portrait,jdbcType=VARCHAR},
            </if>
            <if test="unionId != null">
                union_id = #{unionId,jdbcType=VARCHAR},
            </if>
            <if test="openid != null">
                openid = #{openid,jdbcType=VARCHAR},
            </if>
            <if test="birthday != null">
                birthday = #{birthday,jdbcType=DATE},
            </if>
            <if test="gender != null">
                gender = #{gender,jdbcType=VARCHAR},
            </if>
            <if test="location != null">
                location = #{location,jdbcType=VARCHAR},
            </if>
            <if test="intro != null">
                intro = #{intro,jdbcType=VARCHAR},
            </if>
            <if test="authenticated != null">
                authenticated = #{authenticated,jdbcType=INTEGER},
            </if>
            <if test="isValid != null">
                is_valid = #{isValid,jdbcType=INTEGER},
            </if>
            <if test="createDate != null">
                create_date = #{createDate,jdbcType=TIMESTAMP},
            </if>
        </set>
        where user_id = #{userId,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.linkpets.core.model.CmsUser">
        update cms_user
        set nick_name     = #{nickName,jdbcType=VARCHAR},
            mobile_phone  = #{mobilePhone,jdbcType=VARCHAR},
            wx_account    = #{wxAccount,jdbcType=VARCHAR},
            portrait      = #{portrait,jdbcType=VARCHAR},
            union_id      = #{unionId,jdbcType=VARCHAR},
            openid        = #{openid,jdbcType=VARCHAR},
            birthday      = #{birthday,jdbcType=DATE},
            gender        = #{gender,jdbcType=VARCHAR},
            location      = #{location,jdbcType=VARCHAR},
            intro         = #{intro,jdbcType=VARCHAR},
            authenticated = #{authenticated,jdbcType=INTEGER},
            is_valid      = #{isValid,jdbcType=INTEGER},
            create_date   = #{createDate,jdbcType=TIMESTAMP}
        where user_id = #{userId,jdbcType=VARCHAR}
    </update>

    <select id="getUserListAttentTo" parameterType="java.lang.String" resultMap="BaseResultMap">
        select u.*,
               a.attent_time          as attentTime,
               (select count(1)
                from cms_adopt_attention
                where attent_by = #{userId}
                  and user_id = a.user_id
                  and is_valid = '1') as followed
        from cms_adopt_attention a
                 left join cms_user u
                           on a.user_id = u.user_id
        where a.is_valid = '1'
          and u.is_valid = '1'
          and a.attent_by = #{targetUserId,jdbcType=VARCHAR}
    </select>

    <select id="getUserListAttentBy" parameterType="java.lang.String" resultMap="BaseResultMap">
        select u.*,
               a.attent_time          as attentTime,
               (select count(1)
                from cms_adopt_attention
                where attent_by = #{userId}
                  and user_id = a.attent_by
                  and is_valid = '1') as followed
        from cms_adopt_attention a
                 left join cms_user u
                           on a.attent_by = u.user_id
        where a.is_valid = '1'
          and u.is_valid = '1'
          and a.user_id = #{targetUserId,jdbcType=VARCHAR}
    </select>
    <select id="getAttentionStatus" parameterType="java.lang.String" resultType="java.lang.Integer">

        select count(1)
        from cms_adopt_attention
        where is_valid = '1'
          and user_id = #{targetUserId,jdbcType=VARCHAR}
          and attent_by = #{userId}

    </select>
    <select id="getUserAddition" parameterType="java.lang.String" resultType="java.util.Map">
        select (select count(1)
                from cms_adopt_pet
                where create_by = #{userId}
                  and adopt_status = '3'
                  and is_valid = 1)              as adoptingNum,
               (select count(1)
                from cms_adopt_pet
                where create_by = #{userId}
                  and adopt_status = '4'
                  and is_valid = 1)              as adoptedNum,
               (select count(1)
                from cms_adopt_apply caa,
                     cms_adopt_pet cap
                where caa.pet_id = cap.pet_id
                  and cap.create_by = #{userId}) as applyNum,
               (select count(1)
                from cms_adopt_apply caa,
                     cms_adopt_pet cap
                where caa.pet_id = cap.pet_id
                  and cap.create_by = #{userId}
                  and caa.apply_status != '0')   as applyHandle
    </select>
    <select id="getTotalUserCount" resultType="java.lang.Integer">
        select count(1)
        from cms_user
        where is_valid = 1
    </select>
    <select id="getUserInfoByUserId" parameterType="String" resultMap="BaseResultMap">
        select user_id,
               nick_name,
               mobile_phone,
               portrait,
               union_id,
               birthday,
               gender,
               location,
               intro,
               authenticated,
               (select count(1) from cms_adopt_attention where attent_by = #{userId} and is_valid = '1') as followNum,
               (select count(1) from cms_adopt_attention where user_id = #{userId} and is_valid = '1')   as followByNum
        from cms_user
        where user_id = #{userId}
    </select>
    <select id="getUserByUnionId" parameterType="String" resultMap="BaseResultMap">
        select user_id,
               nick_name,
               mobile_phone,
               portrait,
               union_id,
               birthday,
               gender,
               location,
               intro,
               authenticated
        from cms_user
        where union_id = #{unionId}
    </select>
    <select id="getOrgUserInfoPage" resultMap="BaseOrgUserResultMap">
        SELECT
        o.id AS id,
        u.user_id as userId,
        u.nick_name AS nickName,
        u.wx_account AS wxAccount,
        s.user_id AS sysUserId,
        u.mobile_phone AS mobilePhone,
        CASE
        WHEN o.org_id IS NULL THEN 0
        ELSE 1
        END AS isAdd,
        IFNULL(rr.role_id, '') AS roleId,
        IFNULL(sr.role_code, '') AS roleCode
        FROM
        cms_user u
        LEFT JOIN
        cms_adopt_org_user o ON u.user_id = o.user_id AND o.is_valid = 1
        LEFT JOIN
        sys_user s ON o.sys_user_id = s.user_id
        AND s.is_valid = 1
        LEFT JOIN
        sys_user_role_rel rr ON s.user_id = rr.user_id
        AND rr.is_valid = 1
        LEFT JOIN
        sys_role sr ON rr.role_id = sr.role_id
        AND sr.is_valid = 1
        WHERE
        u.is_valid = 1
        and u.mobile_phone is not null
        <if test="orgId==null or orgId == ''">
            and o.org_id is null
        </if>
        <if test="orgId!=null and orgId!=''">
            and o.org_id =#{orgId}
        </if>
        <if test="wxAccount!=null and wxAccount!=''">
            and u.wx_account like CONCAT(#{wxAccount},'%')
        </if>
        <if test="mobilePhone!=null and mobilePhone!=''">
            and u.mobile_phone like CONCAT(#{mobilePhone},'%')
        </if>
        ORDER BY s.create_date DESC
    </select>
</mapper>