<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linkpets.core.dao.SysRoleMapper">
    <resultMap id="BaseResultMap" type="com.linkpets.core.model.SysRole">
        <id column="role_id" jdbcType="VARCHAR" property="roleId"/>
        <result column="role_name" jdbcType="VARCHAR" property="roleName"/>
        <result column="role_code" jdbcType="VARCHAR" property="roleCode"/>
        <result column="role_description" jdbcType="VARCHAR" property="roleDescription"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="is_valid" jdbcType="VARCHAR" property="isValid"/>
    </resultMap>
    <sql id="Base_Column_List">
        role_id, role_name, role_code, role_description, create_date, is_valid
    </sql>
    <insert id="insertSelective" parameterType="com.linkpets.core.model.SysRole">
        insert into sys_role
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="roleId != null">
                role_id,
            </if>
            <if test="roleName != null">
                role_name,
            </if>
            <if test="roleCode != null">
                role_code,
            </if>
            <if test="roleDescription != null">
                role_description,
            </if>
            <if test="createDate != null">
                create_date,
            </if>
            <if test="isValid != null">
                is_valid,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="roleId != null">
                #{roleId,jdbcType=VARCHAR},
            </if>
            <if test="roleName != null">
                #{roleName,jdbcType=VARCHAR},
            </if>
            <if test="roleCode != null">
                #{roleCode,jdbcType=VARCHAR},
            </if>
            <if test="roleDescription != null">
                #{roleDescription,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="isValid != null">
                #{isValid,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.linkpets.core.model.SysRole">
        update sys_role
        <set>
            <if test="roleName != null">
                role_name = #{roleName,jdbcType=VARCHAR},
            </if>
            <if test="roleCode != null">
                role_code = #{roleCode,jdbcType=VARCHAR},
            </if>
            <if test="roleDescription != null">
                role_description = #{roleDescription,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                create_date = #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="isValid != null">
                is_valid = #{isValid,jdbcType=VARCHAR},
            </if>
        </set>
        where role_id = #{roleId,jdbcType=VARCHAR}
    </update>
    <update id="batchDelSysRole">
        update sys_role set is_valid = 0
        where role_id in
        <foreach collection="list" index="index" item="item"
                 separator="," open="(" close=")">
            #{item}
        </foreach>
    </update>
    <select id="getSysRoleList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_role
        where is_valid = 1
        <if test="roleName!=null and roleName!=''">
            and role_name like CONCAT('%',#{roleName},'%')
        </if>
        <if test="roleCode!=null and roleCode!=''">
            and role_code like CONCAT('%',#{roleCode},'%')
        </if>
    </select>
    <select id="getSysRoleListByUserId" resultMap="BaseResultMap">
        select ro.role_id, ro.role_name, ro.role_code, ro.role_description
        from sys_role ro,
             sys_user_role_rel r
        where ro.is_valid = 1
          and r.is_valid = 1
          and ro.role_id = r.role_id
          and r.user_id = #{userId}
        order by ro.create_date desc
    </select>

</mapper>